{% extends 'body.html' %}

{% load static %}

{% load widget_tweaks %}

<!-- Extra Head -->
{% block head_extra %}
    <!-- AutoComplete -->
    <link rel="stylesheet" href="{% static 'librery/select2-4.1.0/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'librery/select2-4.1.0/css/select2.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'librery/select2-4.1.0/css/select2-bootstrap4.min.css' %}"/>
    <script src="{% static 'librery/select2-4.1.0/js/select2.min.js' %}"></script>
    <script src="{% static 'librery/select2-4.1.0/js/i18n/es.js' %}"></script>
    <!-- ./AutoComplete Select2 -->
    <!-- JavaScript extra -->
    <script src="{% static 'padron/js/dniupdate.js' %}"></script>
    <!-- JavaScript extra -->
{% endblock %}
<!-- ./Extra Head -->

<!-- Data Body -->
{% block data_body %}
    <!-- Card Header -->
    <form method="POST" action="." id="FormCreate" enctype="multipart/form-data">
        <div class="card-header card-primary card-outline">
            <h3 class="card-title">
                <i class="fa-solid fa-rotate"></i> {{ title }}
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- ./Card Header -->
        <!-- Card Body -->
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h5><i class="fa-solid fa-triangle-exclamation"></i> ! Ha ocurrido un ERROR !</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in form %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-lg-3">
                    <div class="input-group mb-3">

                        {#                        <select id="search_dni" name="dni" type="text" class="form-control select2-blue"#}
                        {#                                aria-label="Ingrese DNI" aria-describedby="button-addon2"></select>#}
                        {##}
                        {#                        <button style="background-color:var(--green05); Font-size: 12px"#}
                        {#                                class="btn text-white btnUpdateDNI btnUpdateDNIKeyup" type="submit"><i#}
                        {#                                class="fa-solid fa-rotate" autofocus></i> Actualizar#}
                        {#                        </button>#}

                        <input id="id_search" name="search" type="text" class="form-control select2-blue"
                               placeholder="Ingrese N° de DNI..."
                               aria-label="search_product" aria-describedby="button-addon2" autocomplete="off" minlength="5" maxlength="8">
                        <button style="background-color:var(--blue02); Font-size: 12px"
                                class="btn text-white btnSearchProduct" id="id_btnSearchProduct"
                                name="btnSearchProduct">
                            <i class="fa-solid fa-magnifying-glass"></i> Buscar
                        </button>

                    </div>

                    <div class="form-outline">
                        <input id="id" name="id" type="number" style="display:none;" class="form-control"
                               aria-label="id"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col-lg-9"></div>
            </div>

            <hr>

            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">DNI</label>
                        <input id="id_dni" type="text" class="form-control" readonly aria-label="dni"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Apellido</label>
                        <input id="apellido" type="text" class="form-control" readonly aria-label="surname"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label">Nombre</label>
                        <input id="nombre" type="text" class="form-control" readonly aria-label="name"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>

            </div>


            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Votó</span>
                        <input id="voto" name="voto" type="text" class="form-control" readonly aria-label="address"
                               aria-describedby="addon-wrapping">

                        <input id="voto_invalid" type="text" class="form-control is-invalid" readonly
                               aria-label="address"
                               aria-describedby="addon-wrapping">

                        <input id="voto_valid" type="text" class="form-control is-valid" readonly aria-label="address"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Domicilio</span>
                        <input id="domicilio" type="text" class="form-control" readonly aria-label="address"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Departamento</span>
                        <input id="departamento" type="text" class="form-control" readonly aria-label="department"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Nombre Circuito</span>
                        <input id="nombre_circuito" type="text" class="form-control" readonly aria-label="circuit"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Código Circuito</span>
                        <input id="codigo_circuito" type="text" class="form-control" readonly
                               aria-label="circuit number"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <span class="form-label">Mesa</span>
                        <input id="mesa" type="text" class="form-control" readonly aria-label="circuit number"
                               aria-describedby="addon-wrapping">
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Card Body -->
        <!-- Card Footer-Buttons -->
        <div class="card-footer text-center">
            <button style="background-color:var(--green05); FONT-SIZE: 9pt"
                    class="btn text-white btn-rounded btnUpdateDNI btnUpdateDNIKeyup" type="submit">
                <i class="fa-solid fa-rotate"></i> Actualizar
            </button>
            <button type="button" id="cleaninputdni" style="background-color:var(--orange01); FONT-SIZE: 9pt"
                    class="btn text-white btn-rounded">
                <i class="fa-solid fa-trash-can"></i> Limpar
            </button>
            <a href="{% url 'app:padron_list' %}" style="background-color:var(--red06); FONT-SIZE: 9pt"
               class="btn text-white btn-rounded">
                <i class="fa-solid fa-xmark"></i> Cancelar
            </a>
        </div>
        <!-- ./Card Footer-Buttons -->
    </form>


    <{% block javascript %}
        <script src="{% static 'padron/js/validations.js' %}"></script>
    {% endblock %}

{% endblock %}
<!-- ./Data Body -->